@import "tailwindcss";
@theme {
  --font-sans: "Manrope", sans-serif;
  --font-heading: "Host Grotesk", sans-serif;
  --breakpoint-sm: 480px; /* 480px */
  --breakpoint-md: 768px; /* 768px */
  --breakpoint-lg: 976; /* 976px */
  --breakpoint-xl: 1440; /* 1440px */
}
